[mongo]
uri = "mongodb+srv://username:password@cluster.example.net/users"
db_name = "users"
collection = "user_profiles"
questions_collection = "questions"

[api]
base_url = "https://api.spmu.me"
star_predict_url = "https://api.spmu.me/api/api5_star_predict"

[gpt]
url = "https://api.openai.com/v1/chat/completions"
api_key = "replace-with-your-token"
